In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("test.csv")
print(len(df))
dftest = df[pd.isnull(df['Lapse'])]
print(len(dftest))
df = df.dropna()
print(len(df))

227689
11398
216291

In [3]:
df.head()

,Pol_num,Iss_yr,Iss_mo,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,...,GIASubType,EEGSubType,GPASubType,IARSubType,Product,LOB,Valuation Year,Qualification,Lapse,Exposure
0,VM13400882,2013,7,74,2,10196.85,9790.45,0.0,10196.85,10000.00,...,N,N,GPA3S,N,Pacific Choice Three,NON,2016,N,1.0,1
1,VM13400909,2013,7,64,1,546639.41,526861.42,0.0,546639.41,531198.93,...,N,N,N,SCIA4S,Pacific Choice Three,IRA,2016,Q,1.0,1
2,VM13400928,2013,7,66,1,98227.60,94627.60,0.0,98227.60,100000.00,...,N,N,N,N,Pacific Choice Three,NON,2016,N,1.0,1
3,VM13400939,2013,7,61,2,53032.05,51232.05,0.0,53032.05,50000.00,...,N,N,N,N,Pacific Choice Three,NON,2016,N,1.0,1
4,VM13400951,2013,8,57,2,1041713.05,1005946.17,0.0,1041713.05,993524.48,...,N,N,N,N,Pacific Choice Three,IRA,2016,Q,1.0,1

In [4]:
df.columns

Index(['Pol_num', 'Iss_yr', 'Iss_mo', 'Iss_age', 'Gender', 'Fund_val',
       'Cash_val', 'Fixed Amt', 'Var Amt', 'Surr_prem', 'Enhanced DB',
       'Reset DB', 'Max', 'Death', 'Ist', 'REST', 'Comm Opt', 'GPAY', 'IARY',
       'premium', 'withdraw', 'BD Channel', 'GIAFee', 'GPAFee', 'IARFee',
       'GIASubType', 'EEGSubType', 'GPASubType', 'IARSubType', 'Product',
       'LOB', 'Valuation Year', 'Qualification', 'Lapse', 'Exposure'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216291 entries, 0 to 216290
Data columns (total 35 columns):
Pol_num           216291 non-null object
Iss_yr            216291 non-null int64
Iss_mo            216291 non-null int64
Iss_age           216291 non-null int64
Gender            216291 non-null int64
Fund_val          216291 non-null float64
Cash_val          216291 non-null float64
Fixed Amt         216291 non-null float64
Var Amt           216291 non-null float64
Surr_prem         216291 non-null float64
Enhanced DB       216291 non-null float64
Reset DB          216291 non-null float64
Max               216291 non-null float64
Death             216291 non-null float64
Ist               216291 non-null object
REST              216291 non-null object
Comm Opt          216291 non-null object
GPAY              216291 non-null int64
IARY              216291 non-null int64
premium           216291 non-null float64
withdraw          216291 non-null float64
BD Channel        216291 non-null object
GIAFee            216291 non-null int64
GPAFee            216291 non-null int64
IARFee            216291 non-null int64
GIASubType        216291 non-null object
EEGSubType        216291 non-null object
GPASubType        216291 non-null object
IARSubType        216291 non-null object
Product           216291 non-null object
LOB               216291 non-null object
Valuation Year    216291 non-null int64
Qualification     216291 non-null object
Lapse             216291 non-null float64
Exposure          216291 non-null int64
dtypes: float64(12), int64(11), object(12)
memory usage: 59.4+ MB

# Data Preprocessing

In [6]:
# df['Iss_yr'] = df['Iss_yr'].astype('object')
# df['Iss_mo'] = df['Iss_mo'].astype('object')
# df['Gender'] = df['Gender'].astype('object')
# df['Ist'] = df['Ist'].astype('object')
# df['REST'] = df['REST'].astype('object')
# df['GPAY'] = df['GPAY'].astype('object')
# df['IARY'] = df['IARY'].astype('object')
# df['Valuation Year'] = df['Valuation Year'].astype('object')
# df.info()

df['Comm Opt'] = df['Comm Opt'].map(lambda x: "A" if x == "A" else "Non-A")
df['Ist'] = df['Ist'].map(lambda y: "NY" if y == "NY" else "Non-NY")
df['REST'] = df['REST'].map(lambda z: "NY" if z == "NY" else "Non-NY")

In [7]:
df['BD Channel'] = df['BD Channel'].map(lambda bd: bd if bd == "L P L FINANCIAL LLC" or 
                                        bd == "J P MORGAN SECURITIES LLC (CHASE)" or
                                        bd == "U S BANCORP INVESTMENTS INC" or
                                        bd == "MERRILL LYNCH PIERCE FENNER & SMITH" or
                                        bd == "FIFTH THIRD SECURITIES INC" or
                                        bd == "SAGEPOINT FINANCIAL INC" or
                                        bd == "WELLS FARGO ADVISORS LLC (WACPCG)" or
                                        bd == "RAYMOND JAMES FINANCIAL SERVICES INC" or
                                        bd == "P N C INVESTMENTS LLC (NAT)" or
                                        bd == "EDWARD JONES"
                                        else "Other"
                                       )
df['BD Channel'].unique()

array(['MERRILL LYNCH PIERCE FENNER & SMITH', 'Other',
       'FIFTH THIRD SECURITIES INC', 'U S BANCORP INVESTMENTS INC',
       'L P L FINANCIAL LLC', 'EDWARD JONES', 'SAGEPOINT FINANCIAL INC',
       'WELLS FARGO ADVISORS LLC (WACPCG)',
       'J P MORGAN SECURITIES LLC (CHASE)', 'P N C INVESTMENTS LLC (NAT)',
       'RAYMOND JAMES FINANCIAL SERVICES INC'], dtype=object)

In [8]:
df['IARSubType'] = df['IARSubType'].map(lambda IAR: IAR if IAR == "N" or
                                       IAR == "SFLI" or
                                       IAR == "LIAP" or
                                       IAR == "IAR" or 
                                       IAR == "F10"
                                       else "Other")
df['IARSubType'].unique()

array(['N', 'Other', 'F10', 'IAR', 'SFLI', 'LIAP'], dtype=object)

In [9]:
df['Product'] = df['Product'].map(lambda Prod: "INNO SELECT" if 
                                  Prod == "INNO SELECT N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Journey Select B" if  
                                  Prod == "Journey Select NB"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Journey Select L" if 
                                  Prod == "Journey Select NL"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Choice Three" if 
                                  Prod == "Pacific Choice Three N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Value" if 
                                  Prod == "Pacific Value N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Value Edge" if 
                                  Prod == "Pacific Value Edge N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Portfolios" if 
                                  Prod == "Portfolios N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Voyages" if 
                                  Prod == "Voyages N"
                                 else Prod)
df['Product'].unique()

array(['Pacific Choice Three', 'Pacific Value', 'Voyages',
       'Journey Select L', 'INNO SELECT', 'Journey', 'Portfolios', 'PSVA',
       'Innovation', 'PSVA II'], dtype=object)

In [10]:
attained = []
duration = []
fundratio = []
varpercent = []
cashratio = []
deathinthemoney = []
for index, row in df.iterrows():
    aa = float(round(row['Iss_age'] + row['Valuation Year'] - row['Iss_yr'] + ((12 - row['Iss_mo'])/12),2))
    attained.append(aa)
    d = float(round(row['Valuation Year'] - row['Iss_yr'] + ((12 - row['Iss_mo'])/12),2))
    duration.append(d)
    try:
        fr = float(round((row['Fund_val']-row['Cash_val'])/row['Fund_val'],6))
    except:
        fr = 0
    fundratio.append(fr)
    vp = float(round(row['Var Amt']/(row['Var Amt'] + row['Fixed Amt']),6))
    varpercent.append(vp)
    try:
        cr = float(round(row['Cash_val']/(row['premium']-row['withdraw']),2))
    except:
        cr = 0
    cashratio.append(cr)
    try:
        dbitm = float(round(row['Death']/row['Cash_val'],2))
    except:
        dbitm = 0
    deathinthemoney.append(dbitm)
    
df['attained'] = attained
df['duration'] = duration
df['fundratio'] = fundratio
df['varpercent'] = varpercent
df['cashratio'] = cashratio
df['dbitm'] = deathinthemoney

In [11]:
# df.to_csv('data.csv')

In [12]:
df['Iss_mo'] = df['Iss_mo'].astype('object')
X = df.drop(["Pol_num", "Exposure", "Lapse", "Iss_yr", "LOB", "Valuation Year", "GPAY", "IARY"], axis=1)
X = pd.get_dummies(X)
y = df['Lapse']
X.head()

,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,Enhanced DB,Reset DB,Max,...,Product_Journey,Product_Journey Select L,Product_PSVA,Product_PSVA II,Product_Pacific Choice Three,Product_Pacific Value,Product_Portfolios,Product_Voyages,Qualification_N,Qualification_Q
0,74,2,10196.85,9790.45,0.0,10196.85,10000.00,10000.00,0.00,10000.00,...,0,0,0,0,1,0,0,0,1,0
1,64,1,546639.41,526861.42,0.0,546639.41,531198.93,531198.93,0.00,531198.93,...,0,0,0,0,1,0,0,0,0,1
2,66,1,98227.60,94627.60,0.0,98227.60,100000.00,100000.00,0.00,100000.00,...,0,0,0,0,1,0,0,0,1,0
3,61,2,53032.05,51232.05,0.0,53032.05,50000.00,50000.00,54580.07,54580.07,...,0,0,0,0,1,0,0,0,1,0
4,57,2,1041713.05,1005946.17,0.0,1041713.05,993524.48,993524.48,1071525.20,1071525.20,...,0,0,0,0,1,0,0,0,0,1

In [13]:
X.columns

Index(['Iss_age', 'Gender', 'Fund_val', 'Cash_val', 'Fixed Amt', 'Var Amt',
       'Surr_prem', 'Enhanced DB', 'Reset DB', 'Max', 'Death', 'premium',
       'withdraw', 'GIAFee', 'GPAFee', 'IARFee', 'attained', 'duration',
       'fundratio', 'varpercent', 'cashratio', 'dbitm', 'Iss_mo_1', 'Iss_mo_2',
       'Iss_mo_3', 'Iss_mo_4', 'Iss_mo_5', 'Iss_mo_6', 'Iss_mo_7', 'Iss_mo_8',
       'Iss_mo_9', 'Iss_mo_10', 'Iss_mo_11', 'Iss_mo_12', 'Ist_NY',
       'Ist_Non-NY', 'REST_NY', 'REST_Non-NY', 'Comm Opt_A', 'Comm Opt_Non-A',
       'BD Channel_EDWARD JONES', 'BD Channel_FIFTH THIRD SECURITIES INC',
       'BD Channel_J P MORGAN SECURITIES LLC (CHASE)',
       'BD Channel_L P L FINANCIAL LLC',
       'BD Channel_MERRILL LYNCH PIERCE FENNER & SMITH', 'BD Channel_Other',
       'BD Channel_P N C INVESTMENTS LLC (NAT)',
       'BD Channel_RAYMOND JAMES FINANCIAL SERVICES INC',
       'BD Channel_SAGEPOINT FINANCIAL INC',
       'BD Channel_U S BANCORP INVESTMENTS INC',
       'BD Channel_WELLS FARGO ADVISORS LLC (WACPCG)', 'GIASubType_GIA',
       'GIASubType_GIA5', 'GIASubType_GIAP', 'GIASubType_N', 'EEGSubType_EEG',
       'EEGSubType_N', 'GPASubType_GPA', 'GPASubType_GPA3', 'GPASubType_GPA3S',
       'GPASubType_GPA5', 'GPASubType_N', 'IARSubType_F10', 'IARSubType_IAR',
       'IARSubType_LIAP', 'IARSubType_N', 'IARSubType_Other',
       'IARSubType_SFLI', 'Product_INNO SELECT', 'Product_Innovation',
       'Product_Journey', 'Product_Journey Select L', 'Product_PSVA',
       'Product_PSVA II', 'Product_Pacific Choice Three',
       'Product_Pacific Value', 'Product_Portfolios', 'Product_Voyages',
       'Qualification_N', 'Qualification_Q'],
      dtype='object')

In [14]:
print(X.shape, y.shape)

(216291, 80) (216291,)

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Using TensorFlow backend.

In [16]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [17]:
classifier.fit(X_train, y_train)

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6666769409066812
Testing Data Score: 0.6668207793168495

In [18]:
preds = classifier.predict(X_test)
pd.DataFrame({"Prediction": preds, "Actual": y_test})

        Actual  Prediction
52355      1.0         0.0
114112     0.0         0.0
194422     0.0         0.0
31991      1.0         0.0
158992     0.0         0.0
167023     0.0         0.0
84336      0.0         0.0
46890      1.0         0.0
32751      1.0         0.0
127971     0.0         0.0
160579     0.0         0.0
67891      1.0         0.0
204123     0.0         0.0
65307      1.0         0.0
102101     0.0         0.0
57194      1.0         0.0
131725     0.0         0.0
46439      1.0         0.0
115683     0.0         0.0
160704     0.0         0.0
8611       1.0         0.0
47887      1.0         0.0
53029      1.0         1.0
158975     0.0         0.0
42548      1.0         0.0
175508     0.0         0.0
65863      1.0         0.0
141909     0.0         0.0
174668     0.0         0.0
84337      0.0         0.0
...        ...         ...
4197       1.0         0.0
31715      1.0         0.0
28880      1.0         0.0
178488     0.0         0.0
126224     0.0         0.0
79203      0.0         1.0
179892     0.0         0.0
24997      1.0         0.0
91102      0.0         0.0
168024     0.0         0.0
127034     0.0         0.0
183757     0.0         0.0
142410     0.0         0.0
3260       1.0         0.0
1348       1.0         0.0
43857      1.0         0.0
131673     0.0         0.0
57059      1.0         0.0
149328     0.0         0.0
36248      1.0         0.0
176645     0.0         0.0
60724      1.0         0.0
34469      1.0         0.0
15297      1.0         0.0
100465     0.0         0.0
102505     0.0         0.0
48094      1.0         0.0
165570     0.0         0.0
169845     0.0         0.0
84888      0.0         0.0

[54073 rows x 2 columns]

In [19]:
count = 0
print (len(y_test))
print (len(preds))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(preds)):
    if int(preds[x]) == int(y_test_list[x]):
        count = count + 1
print (count)
print (float(count/len(y_test)))

54073
54073
36057
0.6668207793168495

In [20]:
zerozero = 0
zeroone = 0
onezero = 0
oneone = 0
print (len(y_test))
print (len(preds))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(preds)):
    if int(preds[x]) == 0 and int(y_test_list[x]) == 0:
        zerozero = zerozero + 1
    if int(preds[x]) == 0 and int(y_test_list[x]) == 1:
        zeroone = zeroone + 1
    if int(preds[x]) == 1 and int(y_test_list[x]) == 0:
        onezero = onezero + 1
    if int(preds[x]) == 1 and int(y_test_list[x]) == 1:
        oneone = oneone + 1
print (zerozero)
print (zeroone)
print (onezero)
print (oneone)

54073
54073
35481
17563
453
576