In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Public_Dataset.csv")
print(len(df))
# dftest = df[pd.isnull(df['Lapse'])]
# print(len(dftest))
# df = df.dropna()
# print(len(df))

173272

In [3]:
df.head()

,Pol_num,Iss_yr,Iss_mo,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,...,GIASubType,EEGSubType,GPASubType,IARSubType,Product,LOB,Valuation Year,Qualification,Lapse,Exposure
0,VM13001002,2013,6,80,1,33376.89,31971.36,0.0,33376.89,36356.93,...,N,N,N,IARS,Pacific Choice Three,IRA,2016,Q,0.0,1
1,VM13001007,2013,8,67,1,92850.28,89615.38,0.0,92850.28,89858.31,...,N,N,N,N,Pacific Choice Three,ROC,2016,Q,0.0,1
2,VM13001014,2013,6,63,2,66057.57,63753.57,0.0,66057.57,64000.00,...,N,N,N,N,Pacific Choice Three,IRA,2016,Q,0.0,1
3,VM13001020,2013,6,76,1,794755.08,763168.31,0.0,794755.08,773243.70,...,N,N,N,N,Pacific Choice Three,NON,2016,N,0.0,1
4,VM13001021,2013,7,64,1,51421.90,49507.11,0.0,51421.90,50000.00,...,N,N,N,SCIAS,Pacific Choice Three,IRA,2016,Q,0.0,1

In [4]:
df.columns

Index(['Pol_num', 'Iss_yr', 'Iss_mo', 'Iss_age', 'Gender', 'Fund_val',
       'Cash_val', 'Fixed Amt', 'Var Amt', 'Surr_prem', 'Enhanced DB',
       'Reset DB', 'Max', 'Death', 'Ist', 'REST', 'Comm Opt', 'GPAY', 'IARY',
       'premium', 'withdraw', 'BD Channel', 'GIAFee', 'GPAFee', 'IARFee',
       'GIASubType', 'EEGSubType', 'GPASubType', 'IARSubType', 'Product',
       'LOB', 'Valuation Year', 'Qualification', 'Lapse', 'Exposure'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173272 entries, 0 to 173271
Data columns (total 35 columns):
Pol_num           173272 non-null object
Iss_yr            173272 non-null int64
Iss_mo            173272 non-null int64
Iss_age           173272 non-null int64
Gender            173272 non-null int64
Fund_val          173272 non-null float64
Cash_val          173272 non-null float64
Fixed Amt         173272 non-null float64
Var Amt           173272 non-null float64
Surr_prem         173272 non-null float64
Enhanced DB       173272 non-null float64
Reset DB          173272 non-null float64
Max               173272 non-null float64
Death             173272 non-null float64
Ist               173272 non-null object
REST              173272 non-null object
Comm Opt          173272 non-null object
GPAY              173272 non-null int64
IARY              173272 non-null int64
premium           173272 non-null float64
withdraw          173272 non-null float64
BD Channel        173272 non-null object
GIAFee            173272 non-null int64
GPAFee            173272 non-null int64
IARFee            173272 non-null int64
GIASubType        173272 non-null object
EEGSubType        173272 non-null object
GPASubType        173272 non-null object
IARSubType        173272 non-null object
Product           173272 non-null object
LOB               173272 non-null object
Valuation Year    173272 non-null int64
Qualification     173272 non-null object
Lapse             161874 non-null float64
Exposure          173272 non-null int64
dtypes: float64(12), int64(11), object(12)
memory usage: 46.3+ MB

# Data Preprocessing

In [6]:
# df['Iss_yr'] = df['Iss_yr'].astype('object')
# df['Iss_mo'] = df['Iss_mo'].astype('object')
# df['Gender'] = df['Gender'].astype('object')
# df['Ist'] = df['Ist'].astype('object')
# df['REST'] = df['REST'].astype('object')
# df['GPAY'] = df['GPAY'].astype('object')
# df['IARY'] = df['IARY'].astype('object')
# df['Valuation Year'] = df['Valuation Year'].astype('object')
# df.info()

df['Comm Opt'] = df['Comm Opt'].map(lambda x: "A" if x == "A" else "Non-A")
df['Ist'] = df['Ist'].map(lambda y: "NY" if y == "NY" else "Non-NY")
df['REST'] = df['REST'].map(lambda z: "NY" if z == "NY" else "Non-NY")

In [7]:
df['BD Channel'] = df['BD Channel'].map(lambda bd: bd if bd == "L P L FINANCIAL LLC" or 
                                        bd == "J P MORGAN SECURITIES LLC (CHASE)" or
                                        bd == "U S BANCORP INVESTMENTS INC" or
                                        bd == "MERRILL LYNCH PIERCE FENNER & SMITH" or
                                        bd == "FIFTH THIRD SECURITIES INC" or
                                        bd == "SAGEPOINT FINANCIAL INC" or
                                        bd == "WELLS FARGO ADVISORS LLC (WACPCG)" or
                                        bd == "RAYMOND JAMES FINANCIAL SERVICES INC" or
                                        bd == "P N C INVESTMENTS LLC (NAT)" or
                                        bd == "EDWARD JONES"
                                        else "Other"
                                       )
df['BD Channel'].unique()

array(['Other', 'WELLS FARGO ADVISORS LLC (WACPCG)', 'L P L FINANCIAL LLC',
       'MERRILL LYNCH PIERCE FENNER & SMITH', 'FIFTH THIRD SECURITIES INC',
       'U S BANCORP INVESTMENTS INC', 'SAGEPOINT FINANCIAL INC',
       'EDWARD JONES', 'RAYMOND JAMES FINANCIAL SERVICES INC',
       'P N C INVESTMENTS LLC (NAT)', 'J P MORGAN SECURITIES LLC (CHASE)'], dtype=object)

In [8]:
df['IARSubType'] = df['IARSubType'].map(lambda IAR: IAR if IAR == "N" or
                                       IAR == "SFLI" or
                                       IAR == "LIAP" or
                                       IAR == "IAR" or 
                                       IAR == "F10"
                                       else "Other")
df['IARSubType'].unique()

array(['Other', 'N', 'SFLI', 'F10', 'IAR', 'LIAP'], dtype=object)

In [9]:
df['Product'] = df['Product'].map(lambda Prod: "INNO SELECT" if 
                                  Prod == "INNO SELECT N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Journey Select B" if  
                                  Prod == "Journey Select NB"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Journey Select L" if 
                                  Prod == "Journey Select NL"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Choice Three" if 
                                  Prod == "Pacific Choice Three N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Value" if 
                                  Prod == "Pacific Value N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Value Edge" if 
                                  Prod == "Pacific Value Edge N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Portfolios" if 
                                  Prod == "Portfolios N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Voyages" if 
                                  Prod == "Voyages N"
                                 else Prod)
df['Product'].unique()

array(['Pacific Choice Three', 'Pacific Value', 'Voyages', 'Journey',
       'Portfolios', 'PSVA', 'INNO SELECT', 'Journey Select L',
       'Innovation', 'PSVA II', 'Pacific Value Edge', 'Journey Select B'], dtype=object)

In [10]:
attained = []
duration = []
fundratio = []
varpercent = []
cashratio = []
deathinthemoney = []
for index, row in df.iterrows():
    aa = float(round(row['Iss_age'] + row['Valuation Year'] - row['Iss_yr'] + ((12 - row['Iss_mo'])/12),2))
    attained.append(aa)
    d = float(round(row['Valuation Year'] - row['Iss_yr'] + ((12 - row['Iss_mo'])/12),2))
    duration.append(d)
    try:
        fr = float(round((row['Fund_val']-row['Cash_val'])/row['Fund_val'],6))
    except:
        fr = 0
    fundratio.append(fr)
    vp = float(round(row['Var Amt']/(row['Var Amt'] + row['Fixed Amt']),6))
    varpercent.append(vp)
    try:
        cr = float(round(row['Cash_val']/(row['premium']-row['withdraw']),2))
    except:
        cr = 0
    cashratio.append(cr)
    try:
        dbitm = float(round(row['Death']/row['Cash_val'],2))
    except:
        dbitm = 0
    deathinthemoney.append(dbitm)
    
df['attained'] = attained
df['duration'] = duration
df['fundratio'] = fundratio
df['varpercent'] = varpercent
df['cashratio'] = cashratio
df['dbitm'] = deathinthemoney

In [11]:
# df.to_csv('data.csv')

In [12]:
df['Iss_mo'] = df['Iss_mo'].astype('object')
print(len(df))
dftest = df[pd.isnull(df['Lapse'])]
Xnew = dftest.drop(["Pol_num", "Exposure", "Lapse", "Iss_yr", "LOB", "Valuation Year", "GPAY", "IARY"], axis=1)
Xnew = pd.get_dummies(Xnew)
print(len(dftest))
df = df.dropna()
print(len(df))
X = df.drop(["Pol_num", "Exposure", "Lapse", "Iss_yr", "LOB", "Valuation Year", "GPAY", "IARY"], axis=1)
X = pd.get_dummies(X)
y = df['Lapse']
X.head()

173272
11398
161874

,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,Enhanced DB,Reset DB,Max,...,Product_Journey,Product_Journey Select L,Product_PSVA,Product_PSVA II,Product_Pacific Choice Three,Product_Pacific Value,Product_Portfolios,Product_Voyages,Qualification_N,Qualification_Q
0,80,1,33376.89,31971.36,0.0,33376.89,36356.93,34605.77,0.0,34605.77,...,0,0,0,0,1,0,0,0,0,1
1,67,1,92850.28,89615.38,0.0,92850.28,89858.31,89858.31,0.0,89858.31,...,0,0,0,0,1,0,0,0,0,1
2,63,2,66057.57,63753.57,0.0,66057.57,64000.00,64000.00,0.0,64000.00,...,0,0,0,0,1,0,0,0,0,1
3,76,1,794755.08,763168.31,0.0,794755.08,773243.70,773243.70,0.0,773243.70,...,0,0,0,0,1,0,0,0,1,0
4,64,1,51421.90,49507.11,0.0,51421.90,50000.00,50000.00,0.0,50000.00,...,0,0,0,0,1,0,0,0,0,1

In [13]:
X.columns

Index(['Iss_age', 'Gender', 'Fund_val', 'Cash_val', 'Fixed Amt', 'Var Amt',
       'Surr_prem', 'Enhanced DB', 'Reset DB', 'Max', 'Death', 'premium',
       'withdraw', 'GIAFee', 'GPAFee', 'IARFee', 'attained', 'duration',
       'fundratio', 'varpercent', 'cashratio', 'dbitm', 'Iss_mo_1', 'Iss_mo_2',
       'Iss_mo_3', 'Iss_mo_4', 'Iss_mo_5', 'Iss_mo_6', 'Iss_mo_7', 'Iss_mo_8',
       'Iss_mo_9', 'Iss_mo_10', 'Iss_mo_11', 'Iss_mo_12', 'Ist_NY',
       'Ist_Non-NY', 'REST_NY', 'REST_Non-NY', 'Comm Opt_A', 'Comm Opt_Non-A',
       'BD Channel_EDWARD JONES', 'BD Channel_FIFTH THIRD SECURITIES INC',
       'BD Channel_J P MORGAN SECURITIES LLC (CHASE)',
       'BD Channel_L P L FINANCIAL LLC',
       'BD Channel_MERRILL LYNCH PIERCE FENNER & SMITH', 'BD Channel_Other',
       'BD Channel_P N C INVESTMENTS LLC (NAT)',
       'BD Channel_RAYMOND JAMES FINANCIAL SERVICES INC',
       'BD Channel_SAGEPOINT FINANCIAL INC',
       'BD Channel_U S BANCORP INVESTMENTS INC',
       'BD Channel_WELLS FARGO ADVISORS LLC (WACPCG)', 'GIASubType_GIA',
       'GIASubType_GIA5', 'GIASubType_GIAP', 'GIASubType_N', 'EEGSubType_EEG',
       'EEGSubType_N', 'GPASubType_GPA', 'GPASubType_GPA3', 'GPASubType_GPA3S',
       'GPASubType_GPA5', 'GPASubType_N', 'IARSubType_F10', 'IARSubType_IAR',
       'IARSubType_LIAP', 'IARSubType_N', 'IARSubType_Other',
       'IARSubType_SFLI', 'Product_INNO SELECT', 'Product_Innovation',
       'Product_Journey', 'Product_Journey Select L', 'Product_PSVA',
       'Product_PSVA II', 'Product_Pacific Choice Three',
       'Product_Pacific Value', 'Product_Portfolios', 'Product_Voyages',
       'Qualification_N', 'Qualification_Q'],
      dtype='object')

In [14]:
print(X.shape, y.shape)

(161874, 80) (161874,)

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Using TensorFlow backend.

In [17]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier(n_estimators= 25, max_depth= None, max_features = 0.4, random_state = 42)
rfmodel = rf.fit(X_train, y_train)

y_predrf = rfmodel.predict(X_test)

accrf = accuracy_score(y_predrf, y_test)

In [ ]:
# # classifier.fit(X_train, y_train)

# print(f"Training Data Score: {classifier.score(X_train, y_train)}")
# print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [18]:
preds = rfmodel.predict(X_test)
pd.DataFrame({"Prediction": preds, "Actual": y_test})

        Actual  Prediction
117549     0.0         0.0
153959     0.0         0.0
45384      0.0         0.0
74965      0.0         0.0
147853     0.0         0.0
67521      0.0         0.0
75971      0.0         0.0
75353      0.0         0.0
102208     1.0         0.0
94186      0.0         0.0
156863     1.0         0.0
43555      0.0         0.0
3351       0.0         0.0
82499      0.0         0.0
50463      0.0         0.0
131912     0.0         0.0
68265      0.0         0.0
51447      0.0         0.0
68759      0.0         0.0
89119      0.0         0.0
134323     0.0         0.0
117633     0.0         0.0
53794      1.0         0.0
128424     0.0         0.0
72031      0.0         0.0
136191     0.0         0.0
3401       0.0         0.0
99191      0.0         0.0
82918      0.0         0.0
3873       0.0         0.0
...        ...         ...
148884     0.0         0.0
126025     0.0         0.0
109053     0.0         0.0
110906     0.0         0.0
80233      0.0         0.0
28365      0.0         0.0
88052      0.0         0.0
131628     0.0         0.0
148615     0.0         0.0
107253     0.0         0.0
11406      0.0         0.0
18572      0.0         0.0
71710      0.0         0.0
160314     1.0         0.0
140133     0.0         0.0
125429     0.0         0.0
141166     0.0         0.0
26957      0.0         0.0
18213      0.0         0.0
24188      0.0         0.0
80308      0.0         0.0
104503     1.0         0.0
129178     0.0         0.0
154761     0.0         0.0
102475     1.0         0.0
160516     1.0         0.0
8705       0.0         0.0
55524      1.0         0.0
38871      0.0         0.0
43558      0.0         0.0

[40469 rows x 2 columns]

In [19]:
count = 0
print (len(y_test))
print (len(preds))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(preds)):
    if int(preds[x]) == int(y_test_list[x]):
        count = count + 1
print (count)
print (float(count/len(y_test)))

40469
40469
35869
0.8863327485235613

In [20]:
zerozero = 0
zeroone = 0
onezero = 0
oneone = 0
print (len(y_test))
print (len(preds))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(preds)):
    if int(preds[x]) == 0 and int(y_test_list[x]) == 0:
        zerozero = zerozero + 1
    if int(preds[x]) == 0 and int(y_test_list[x]) == 1:
        zeroone = zeroone + 1
    if int(preds[x]) == 1 and int(y_test_list[x]) == 0:
        onezero = onezero + 1
    if int(preds[x]) == 1 and int(y_test_list[x]) == 1:
        oneone = oneone + 1
print (zerozero)
print (zeroone)
print (onezero)
print (oneone)

40469
40469
35744
4410
190
125